<ul class="w-full list-disc pl-8 text-4xl leading-loose mt-12">
  <li>Any piece of information can be converted to an array of numbers (a vector called <span class="font-bold">embedding</span>)</li>
</ul>
<div class="mt-4 grid grid-cols-3 gap-10" id="images">
  <% Image.all.last(3).each do |image| %>
    <div class="flex-col">
      <div class="h-80 flex justify-center">
        <%= image_tag(url_for(image.file), class: "h-full") %>
      </div>
      <div class="text-4xl leading-normal text-justify mt-8">
        <%= image.description&.first(120) %>...
      </div>
      <div class="text-3xl font-mono leading-normal mt-8">
        [<%= image.embedding&.first(8)&.map { _1.round(4) }&.join(', ') %>, ...]
      </div>
    </div>
  <% end %>
</div>
