<div class="grid grid-cols-3 gap-10" id="images">
  <div class="flex-col">
    <div class="h-80 flex justify-center">
      <img src="/graphics/sora_llama.webp" class="h-full">
    </div>
    <div class="text-3xl font-mono leading-normal mt-8">
      [-0.0222, 0.0271, -0.0071, 0.0197, 0.0347, -0.0093, ...]
    </div>
  </div>

  <div class="flex-col">
    <div class="h-80 flex justify-center">
      <img src="/graphics/sora_cat.webp" class="h-full">
    </div>
    <div class="text-3xl font-mono leading-normal mt-8">
      [-0.0142, 0.001, -0.0188, -0.0256, 0.0521, -0.0112, ...]
    </div>
  </div>

  <div class="flex-col">
    <div class="h-80 flex justify-center">
      <img src="/graphics/sora_bunny.webp" class="h-full">
    </div>
    <div class="text-3xl font-mono leading-normal mt-8">
      [-0.0184, -0.0312, -0.0129, -0.0055, 0.0088, 0.0047, ...]
    </div>
  </div>
</div>

<div class="mt-20 flex flex-col text-4xl gap-8">
  <div class="text-7xl">
    Incoming Query
  </div>
  <div class="text-4xl">
    An image of a bunny
  </div>
  <div class="text-4xl font-mono">
    [-0.038, -0.0189, -0.0106, 0.0002, 0.0391, 0.029, ...]
  </div>
</div>
