<div class="w-full text-4xl flex items-center leading-normal gap-10" data-controller="jsexample" style="height: 500px;">
  <div class="w-1/2">
    An application in Ruby on Rails allowing to showcase RoR features in presentations. It includes:
    <ul class="list-disc pl-8 mt-8">
      <li class="font-bold">ActiveRecord</li>
      <li class="font-bold">Turbo</li>
      <li class="font-bold">TailwindCSS</li>
      <li class="font-bold">StimulusJS</li>
      <li>Deployed to DigitalOcean using <span class="font-bold">Kamal</span></li>
      <li>Handles <span class="font-bold">real hardware</span></li>
    </ul>
  </div>
  <div class="w-1/2 pl-20">
    <img src="/graphics/ruby.webp">
    <%# <img src="/graphics/ruby.webp" class="h-[450px]"> %>
  </div>
</div>
